@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf9f3;
}

::selection {
  background-color: #6366f1;
  color: white;
}
